/* CSS */

/* Estilos CSS para centrar el formulario */
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* Alineación vertical */
    height: 100vh;
    /* Establece la altura del contenedor */
}

form {
    text-align: center;
    /* Centra los elementos del formulario */
}

label,
input {
    display: block;
    margin-bottom: 10px;
}

body {
    background-color: rgba(255, 250, 240, 0.945);
}

.login-title {
    font-family: Playfair Display;
    margin-bottom: -10px;
    text-decoration: underline blue double;
}

.login-label {
    font-family: Georgia;
}

.login-subtext {
    font-family: Georgia;
    font-size: small;
}

/* Buttons */
.button-6 {
    align-items: center;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.85);
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.200rem - 1px) calc(1rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
}

.button-6:hover,
.button-6:focus {
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    color: rgba(0, 0, 0, 0.65);
}

.button-6:hover {
    transform: translateY(-1px);
}

.button-6:active {
    background-color: #F0F0F1;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    color: rgba(0, 0, 0, 0.65);
    transform: translateY(0);
}

.lista-ofertas {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    border: 1px solid hsl(0, 0%, 11%);
}

html {
    height: 100%;
}

body {
    height: 100%;
    color: hsl(0, 0%, 11%);
}

ul {
    position: relative;

    display: flex;
    flex-direction: column;

    list-style: none;
}

li {
    height: 28vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

#fetchTrigger {
    width: 100%;
    height: 10px;

    position: absolute;
    left: 0;
    bottom: 0;

    pointer-events: none;
    background: hsla(1, 0%, 0%, 0.1);
}
